@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
body{

	 margin: 0px;
	 padding: 0px;
	 background:url(../img/loginbg11.jpg) no-repeat;
	background-size: cover;

}

.addUser{

	margin-left: 300px;
	margin-top: 50px;
	background: none;
	color:black;
	width: 400px;
	position: absolute;
	box-sizing: border-box;
	padding: 10px 40px;
}
.addUser .input_fields{
	position: relative;
	padding-bottom: 10px;
}
.addUser h2{
	text-align: center;
	font-size: 18px;
	font-family: Arial Black, Gadget, sans-serif;

}
.addUser .input_fields .input{
	width: 250px;
	border-bottom: 2px solid #BDBDBD;
	border-radius: 3px;
	padding: 4px 30px;
	font-size: 1.0em;

}
.addUser  p{
	text-align: left;
	font-size: 18px;
	margin-bottom: 5px;
	margin-top: 10px;
	font-weight: bold;
	
}
input[type="submit"]{
	background-color: black;
	border: none;
	margin-left: 100px;
	height: 30px;
	width: 100px;
	font-size: 15px;
	color: white;
	border-radius: 10px;
	cursor: pointer;
	border: 1px solid #F0F3F4;
}
input[type="submit"]:hover{
	background: #94DAE8;
	color: black;
}
.redText{
	color: red;
	font-size: 15px;
	
}
.error-msg{
	width: 300px;
	text-align: center;
	margin-right: 40px;
	margin-left: 40px;
}