
.sidenav{
	height: 100%;/*100% full height */
	width: 250px;
	position: fixed;
	z-index: 1;  
	top : 0;
	left: 0;
	background-color: #222;
	overflow-x: hidden; /* disable the horsontal scroll */
	transition: 0.3s;
}
.sidenav a{
	margin-top: 5px;
	padding: 12px 10px 8px 32px;
	text-decoration: none;
	font-size: 16px;
	color: #818181;
	display: block;
	transition: 0.3s;

}
.sidenav a:hover{
	color: #f1f1f1;
}

@media screen and (max-height: 400px) {
  .sidenav {padding-top: 10px;}
  .sidenav a {font-size: 16px;}
}
.drop-btn{
	background-color: #222;
	color: #818181;
	padding: 12px;
	font-size: 15px;
	border: none;
	margin-left: 20px;
	margin-top: 5px;
	margin-bottom: 10px;

}
.dropdown{
	position: absolute;
	display: inline-block;
}
.dropdown-content{
	display: none;
	position: absolute;
	background-color: #222;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
	z-index: 1;
}
.dropdown-content a{
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 16px;
	color: #818181;
	display: block;
	transition: 0.3s;
}
.dropdown-content a:hover{
	color: #f1f1f1;
}
.dropdown:hover .dropdown-content{
	display: block;
}
.dropdown:hover .drop-btn{
	background-color: #f1f1f1;
}