table{
	margin-left: 200px;
	margin-top: 100px;
	border-collapse: collapse;
	width: 60%;
	text-align: left;
}
tr{
	border-bottom: 1px solid #BDBDBD;
}
tr:nth-child(even){
	background-color: #f2f2f2; 
}
th{
	background-color: #333;
	color: white;
	padding: 10px 2px; 
}
td{
	border: none;
	height: 30px;
}
tr:hover{
	background-color:#dbdbdb; 
}