table{
	margin-left: 200px;
	margin-top: 100px;
	width: 60%;
	border-collapse: collapse;
	text-align: left;

}
tr{
	border-bottom: 1px solid #BDBDBD;
}
tr:nth-child(even){
	background-color: #f2f2f2;
}
th{
	background-color: #222;
	color: white;
	padding: 10px 2px;
}
td{
	border: none;
	height: 40px;
}
tr:hover{
	background: #cbcbcb;
}