.searchDrug{
	position: relative;
	float: left;
	margin-top: 30px; 
	margin-left: 50px;
}
.searchDrug h2{
	font-size: 20px;
}
.searchDrug .input{
	width: 300px;
	border: 1px solid #BDBDBD;
	padding: 10px 30px;
	border-radius: 3px;
	font-size: 1.0em;
	
}
input[type="submit"]{
	border: none;
	outline: none;
	height: 30px;
	width: 120px;
	background-color: #127D93; 
	font-size: 18px;
	border-radius: 10px;
	cursor: pointer;
	margin-bottom: 20px;
	margin-left: 10px;
}
input[type="submit"]:hover{
	cursor: pointer;
	background: #94DAE8;
	color: #000;
}
table{
	margin-top: 200px;
	position: absolute;
	margin-left: 200px;
	width: 60%;
	border-collapse: collapse;
	text-align: left;

}
tr{
	border-bottom: 1px solid #BDBDBD;
}
tr:nth-child(even){
	background-color: #f2f2f2;
}
th{
	background-color: #222;
	color: white;
	padding: 10px 2px;
}
td{
	border: none;
	height: 40px;
}
tr:hover{
	background: #cbcbcb;
}
.error-msg{
	margin-left: 500px;
	color: #052C34;
}