table{
	margin-left: 200px;
	margin-top: 100px;
	border-collapse: collapse;
	width: 75%;
	text-align: left;
}
tr{
	border-bottom: 1px solid #BDBDBD;
}
tr:nth-child(even){
	background-color: #f2f2f2; 
}
th{
	background-color: #333;
	color: white;
	padding: 15px 2px; 
}
td{
	border: none;
	height: 30px;
	padding: 10px 2px; 
}
tr:hover{
	background-color:#dbdbdb; 
}
input[type="submit"]{
	outline: none;
	border: none;
	width: 80px;
	height: 30px
	color: tomato;
	background-color: tomato; 
	font-size: 18px;
	border-radius: 3px;
	cursor: pointer;
}
input[type="submit"]:hover{
	background: red;
	color: #000;
}
